<html>
    <head>
        <title>
            Delete Employee
        </title> 
        <meta charset="utf-8"/>        
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/mystyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    	<div id="banner" class="text-center">
    		Employee
    	</div>
    	<div id="margin">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">Home</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="AddEmployee.html">Add Employee</a></li>
						<li><a href="ViewEmployee.html">View Employee</a></li>
						<li class="active" ><a href="DeleteEmployee.html">Delete Employee</a></li>
						<li><a href="UpdateEmployee.html">Update Employee</a></li>                  
						<li><a href="SearchEmployee.html">Search Employee</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div id='center-div' style='width:50%; margin:80px auto auto auto;'>


			<!-- 
				Search form to delete
			 -->
			<div class="form-horizontal">
				<div class="form-group">
					<label for="inputEmplNum" class="col-sm-2 control-label">Employee No.</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputSearch" placeholder="Employee number">
					</div>
					<div class="col-sm-3">
						<button id="search-btn" type="submit" class="btn-success btn btn-default">Search</button>
						<!-- <button id="search-btn" type="submit" class="btn-success btn btn-default" onclick="ajaxFunction();" >Search</button> -->
				 	</div>
				</div>
			</div>	

			<!-- 
				textarea to display information
			 -->
			<textarea id="employee-inf" class="form-control" rows="15" disabled></textarea>

			<!-- 
				Delete decision FORM
			 -->
			<div class="form-group">
                 <div class="col-sm-offset-0 col-sm-2">
                     <button id="deleteEmployee" disabled type="submit" class="btn-lg btn-default">Delete</button>
                 </div>
                 <div class="col-sm-4">
                     <button type="button" class="btn-danger btn-lg btn-default" onclick="location.href = 'index.html';">Cancel</button>
                 </div>
              </div>
		</div>
		<!-- 
			JAVASCRIPTS!!!!
		 -->
		<script src="../jquery1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="../javascripts/DeleteEmployee.js" type="text/javascript"></script>
        
    </body>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Christian Rey Erandio | 09266270079 | <a href="http://zchodi.blogspot.com">zchodi.blogspot.com</a></p>
        </div>
    </footer>
</html>
